body {
    background-color: rgb(9, 3, 52);
  }

form {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #1c1c68;
    box-shadow: 2px 2px 10px #2a1c6f;
    text-align: left;
    background-color: rgb(40, 40, 125);
    color: rgb(157, 136, 254);
    font-size: 18px;

  }
  

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0011fd;
    color: rgb(28, 11, 137);
    cursor: pointer;
  }

button[type="submit"] {
  padding: 10px 150px;
  background-color: #0037ff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.error-message {
  display: none;
  color: red;
  margin-top: 5px;
}

.error + .error-message {
  display: block;
}

.success-message {
  display: none;
  color: green;
  margin-top: 5px;
}

.success + .success-message {
  display: block;
}

.error-icon,
.success-icon {
  display: none;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 10px;
}

.error-icon {
  background: url('._error-icon.svg');
}

.success-icon {
  background: url('._success-icon.svg');
}

.error + .error-icon,
.success + .success-icon {
  display: inline-block;
}

